/**
 * Default to a more natural box model while still allowing for overrides.
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Remove page padding.
 */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

a:link, a:visited {
    color: #2980B9;
}

body {
    display: flex;
    flex-direction: row;
}

.about {
    flex: 1 1 auto;
    background-color: #333333;
    color: #FAFAFA;
}

.about .blurb p {
    font-family: 'Merriweather', serif;
}

header {
    margin: 36px;
    height: 100px;
}

header .logo {
    height: 100%;
}

.about .blurb {
    text-align: center;
}

.postFeed {
    width: 500px;
    flex: 0 0 auto;

    padding: 36px;
    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postFeed h1 {
    margin: 0;

    text-align: center;
    text-transform: uppercase;

    font-size: 18px;
}

.postSnippet {
    position: relative;
    padding: 20px 0;
}

.postSnippet::before {
    content: "";
    position: absolute;
    left: 25%;
    top: 0;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid #666666;
}

.postSnippet:first-child::before {
    content: none;
}

.postFeed .postType {
    font-weight: bold;
}

.postFeed .postTag::before {
    content: '#';
}

.postFeed .postTag {
    font-style: italic;
    color: #666;
    font-size: 14px;

}

.postTitle {
    margin: 0;
    font-size: 24px;
}

.postTitle a {
    text-decoration: none;
    color: inherit;
}

.postSnippet p {
    font-size: 14px;
    font-family: 'Merriweather', serif;
}

.postAction a {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 100px;

    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.postSnippet.podcast .postType {
    color: #F5A623;
}
.postSnippet.podcast .postAction a {
    background-color: #F5A623;
}

.postSnippet.video .postType {
    color: #BD10E0;
}

.postSnippet.video .postAction a {
    background-color: #BD10E0;
}
